<ion-view view-title="Manage your car">
<ion-nav-bar class="bar-balanced">
<ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button" ng-click="setting.showDelete = !setting.showDelete;">
        Delete
      </button></div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">

    <ion-list show-delete="setting.showDelete" type="card">
      <ion-item ng-repeat="car in carInfo">
      {{car.license_number}}
      <span class="item-note">
      Swipe left to edit this car
      </span>
      <ion-option-button class="button-calm"
                       ng-click="edit($index)">
      Edit
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="carInfo.splice($index, 1); copyToPending(); deleteStatus($index); updatelist();">
    </ion-delete-button>
      </ion-item>
      <ion-item ng-click="edit(-1)">
      Create a new car
    </ion-item>

    </ion-list>
  </ion-content>

</ion-view>