<ion-view view-title="Go to HKUST">
    <ion-content padding="true" class="has-header goust">
    <div class="control-panel">
        <div class="row animated fadeInDown">
            <button class="col button button-icon button-calm button-clear icon ion-ios-minus-outline" ng-click="modifyTime(-1)"></button>
            <button class="col button button-positive button-outline button-icon icon ion-ios-time-outline no-border"><span> {{time}} min</span></button>
            <button class="col button button-icon button-calm button-clear icon ion-ios-plus-outline" ng-click="modifyTime(+1)"></button>
        </div>
        <div class="row animated slideInLeft">
            <button class="col button button-icon button-calm button-clear icon ion-ios-minus-outline" ng-click="modifyPassenger(-1)"></button>
            <button class="col button button-positive button-outline button-icon icon ion-ios-people no-border"><span> {{numOfPassenger}}</span></button>
            <button class="col button button-icon button-calm button-clear icon ion-ios-plus-outline" ng-click="modifyPassenger(+1)"></button>
        </div>
        <div class="row animated slideInRight">
            <button class="col button button-icon button-calm button-clear ion-chevron-left" ng-click="changeLicence(-1)"></button>
            <button class="col button button-positive button-outline button-icon ion-model-s no-border"><span> {{licence}}</span></button>
            <button class="col button button-icon button-calm button-clear ion-chevron-right" ng-click="changeLicence(+1)"></button>
        </div>
    </div>

<br>
    <div class="item destination item-divider">
        Which will you pass through?
    </div>

  <div class="item item-icon-left" ng-click="ready('Choi Hung')">
    <i class="icon ion-android-train"></i>
    Choi Hung
    <span class="badge badge-assertive">{{statistics.chCount}}</span>
  </div>

  <div class="item item-icon-left" ng-click="ready('Hang Hau')">
    <i class="icon ion-android-train"></i>
    Hang Hau
    <span class="badge badge-assertive">{{statistics.chCount}}</span>
  </div>




    </ion-content>
</ion-view>
