<ion-view view-title="Go To HKUST">
            <ion-content padding="true" class="has-header">
                <div class="row">
                    <button class="col button button-icon button-stable button-clear icon ion-ios-minus-outline"></button>
                    <button class="col button button-stable button-icon icon ion-ios-time-outline"><span> 7 min</span></button>
                    <button class="col button button-icon button-stable button-clear icon ion-ios-plus-outline"></button>
                </div>
                <div class="row">
                    <button class="col button button-icon button-stable button-clear icon ion-ios-minus-outline"></button>
                    <button class="col button button-stable button-icon icon ion-ios-people"><span> 3</span></button>
                    <button class="col button button-icon button-stable button-clear icon ion-ios-plus-outline"></button>
                </div>
                <div class="row">
                    <button class="col button button-icon button-stable button-clear ion-chevron-left"></button>
                    <button class="col button button-stable button-icon ion-model-s"> <span>AX 123</span></button>
                    <button class="col button button-icon button-stable button-clear ion-chevron-right"></button>
                </div>
                <div class="row">
                    <button class="col button button-icon button-stable button-clear ion-chevron-left"></button>
                    <button class="col button button-stable button-icon ion-flag"> <span>North Gate</span></button>
                    <button class="col button button-icon button-stable button-clear ion-chevron-right"></button>
                </div>
<div class="list card">

  <a href="#" class="item item-icon-left" ng-click="ready()">
    <i class="icon ion-android-train"></i>
    Choi Hung
    <span class="badge badge-assertive">0</span>
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-android-train"></i>
    Hang Hau
    <span class="badge badge-assertive">0</span>
  </a>

  <a href="#" class="item item-icon-left">

    Sai Kung
    <span class="badge badge-assertive">0</span>
  </a>



</div>
            </ion-content>
</ion-view>
