<ion-view view-title="Go Home">
    <ion-content padding="true" class="has-header">
        <div class="row">
            <button class="col button button-icon button-stable button-clear icon ion-ios-minus-outline" ng-click="modifyTime(-1)"></button>
            <button class="col button button-stable button-icon icon ion-ios-time-outline"><span> {{time}} min</span></button>
            <button class="col button button-icon button-stable button-clear icon ion-ios-plus-outline" ng-click="modifyTime(+1)"></button>
        </div>
        <div class="row">
            <button class="col button button-icon button-stable button-clear icon ion-ios-minus-outline" ng-click="modifyPassenger(-1)"></button>
            <button class="col button button-stable button-icon icon ion-ios-people"><span> {{numOfPassenger}}</span></button>
            <button class="col button button-icon button-stable button-clear icon ion-ios-plus-outline" ng-click="modifyPassenger(+1)"></button>
        </div>
        <div class="row">
            <button class="col button button-icon button-stable button-clear ion-chevron-left" ng-click="changeLicence(-1)"></button>
            <button class="col button button-stable button-icon ion-model-s"> <span>{{licence}}</span></button>
            <button class="col button button-icon button-stable button-clear ion-chevron-right" ng-click="changeLicence(+1)"></button>
        </div>
<div class="list card">
  <div class="item item-divider">
    Where are you heading?
  </div>  

  <a class="item item-icon-left" ng-click="ready('Choi Hung')">
    <i class="icon ion-android-train"></i>
    Choi Hung
    <span class="badge badge-assertive">0</span>
  </a>

  <a class="item item-icon-left" ng-click="ready('Hang Hau')">
    <i class="icon ion-android-train"></i>
    Hang Hau
    <span class="badge badge-assertive">0</span>
  </a>
<!-- 
  <a class="item item-icon-left" ng-click="ready('Sai Kung')">

    Sai Kung
    <span class="badge badge-assertive">0</span>
  </a> -->



</div>
            </ion-content>
</ion-view>
