<ion-view view-title="Matching in Progress" hide-back-button="true">
  <ion-content>
<div class="list card">

  <div class="item" >
  	<center style="font-size: 20px"><i class="icon ion-model-s"></i>
  
   	{{licence}}
   	</center>

      </div>

  <div class="item item-divider">
  <center>towards</center>
  </div>

  <div class="item" >
    <center style="font-size: 20px">
    {{destination}}
 
    </center>

  </div>


  <div class="item item-divider">
	<center>departing in</center>
  </div>

  <div class="item" >
  	<center style="font-size: 20px"><i class="icon ion-ios-time-outline" ng-init="countdown()"></i>
  
   	<timer time="time"></timer>
   	</center>

  </div>

    <div class="item item-divider">
	<center>from</center>
  </div>

    <div class="item" >
  	<center style="font-size: 20px">
  
   	{{location}}
   	</center>

  </div>




</div>
<div class="list card">

  <div class="item item-divider">
    <CENTER>Verification Code</CENTER>
  </div>

  <div class="item">
    <CENTER> <img ng-src="{{imglocation}}"></CENTER>
  </div>
</div>

<!-- <div class="row">
	<div class="col">
		<div class="list card">
			<div class="item item-divider">
				Passenger List
			</div>
			<div class="item">
				Mary
			</div>

		</div>
	</div>
	<div class="col">
		<div class="list card">
    <div class="item item-divider item-icon-left" ng-click="chat()">
      <i class="icon ion-ios-chatboxes-outline"></i>
      Chatroom
      </div>

		</div>

            <div class="list card">
    <a class="item item-divider item-icon-left" href="#">
      <i class="icon ion-map"></i>
      Map
      </a>

    </div>


	</div>
</div> -->


  </ion-content>

    <ion-footer-bar class="bar-assertive" ng-click="cancelOffer()" ng-if="!doneCounting">

  <h1 class="title">Cancel</h1>

</ion-footer-bar>
  <ion-footer-bar class="bar-balanced" ng-click="goBack()" ng-if="doneCounting">

  <h1 class="title">Finish</h1>

</ion-footer-bar>

</ion-view>

