<ion-view view-title="Matching in Progress" hide-back-button="true">
  <ion-content ng-class="{'goust': destination === 'HKUST', 'gohome': destination!=='HKUST'}" padding="true">
<!-- <div class="list card">

  <div class="item" >
  	<center style="font-size: 20px"><i class="icon ion-model-s"></i>
  
   	{{licence}}
   	</center>

      </div>

  <div class="item item-divider">
  <center>towards</center>
  </div>

  <div class="item" >
    <center style="font-size: 20px">
    {{destination}}
 
    </center>

  </div>


  <div class="item item-divider">
	<center>departing in</center>
  </div>

  <div class="item" >
  	<center style="font-size: 20px"><i class="icon ion-ios-time-outline" ng-init="countdown()"></i>
  
   	<timer time="targetTime"></timer>
   	</center>

  </div>

    <div class="item item-divider">
	<center>from</center>
  </div>

    <div class="item" >
  	<center style="font-size: 20px">
  
   	{{location}}
   	</center>

  </div>




</div>
<div class="list card">

  <div class="item item-divider">
    <CENTER>Verification Code</CENTER>
  </div>

  <div class="item">
    <CENTER> <img ng-src="{{imglocation}}"></CENTER>
  </div>
</div>

 -->

<div class="row info-panel">
  <div class="col col-50">
    <img ng-src="{{imglocation}}" class="match-icon" width="100%">
  </div>
  <div class="col col-50">
    <br>
      <center style="font-size: 30px; color: #ef4e3a"><i class="icon ion-model-s"></i> {{licence}}</center>


   
    
  
   <br> 
    <center style="font-size: 20px; color: #444">towards</center>
    <br>
    
      <center style="font-size: 30px; color: #ef4e3a;">{{destination}}</center>

    
   

    
  </div>
  
</div>

  <div class="list">
    <div class="item match">
    <center>departing in</center>
    </div>

    <div class="item item-divider important-label" >
      <center><i class="icon ion-ios-time-outline" ng-init="countdown()"></i>
    
      <timer time="targetTime" class="animated pulse infinite"></timer>
      </center>

    </div>
    <div class="item match">
  <center>from</center>
  </div>

    <div class="item item-divider important-label">
    <center><i class="icon ion-flag"></i>
    {{location}}
    </center>

  </div>

  </div>




  </ion-content>

    <ion-footer-bar class="bar-assertive" ng-click="cancelOffer()" ng-if="!doneCounting && !cancelDisable">

  <h1 class="title">Cancel <span class="badge badge-assertive">{{cancelCount}}</span></h1>

</ion-footer-bar>
  <ion-footer-bar class="bar-balanced" ng-click="goBack()" ng-if="doneCounting">

  <h1 class="title">Finish</h1>

</ion-footer-bar>

</ion-view>

